/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* color variables */
:root{
    --red: #6F1D1B;
    --brown: #20140d;
    --caramel: #99582A;
    --beige: #FFE6A7;
    --off-white: #fff1ce;
    --sand: #BB9457;
}

/* Layout Style */

/*menu*/
.background-img{
    background-color: var(--caramel);
    background-image: url('/static/images/rm187-adj-24.jpg');
    background-size:cover;
    min-height: 100vh;
    background-repeat: repeat-y;
    background-blend-mode:luminosity;
    position: absolute;
}

#hamburger{
    width: 3em;
    height: 3em;
    position: fixed;
    border: none;
    padding: 0px;
    top: 1em;
    left: 2em;
    z-index: 999;
    background: transparent;
    cursor: pointer;
}

.icon-bar{
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    display: block;
    width: 3em;
    height: 6px;
    margin: 6px 0;
    background-color: var(--beige);
}

.animated.top {
    -webkit-transform: translateY(10px) rotateZ(45deg);
    -moz-transform: translateY(10px) rotateZ(45deg);
    -ms-transform: translateY(10px) rotateZ(45deg);
    -o-transform: translateY(10px) rotateZ(45deg);
    transform: translateY(10px) rotateZ(45deg);
}

.animated.bottom {
    -webkit-transform: translateY-(14px) rotateZ(-45deg);
    -moz-transform: translateY(-14px) rotateZ(-45deg);
    -ms-transform: translateY(-14px) rotateZ(-45deg);
    -o-transform: translateY(-14px) rotateZ(-45deg);
    transform: translateY(-14px) rotateZ(-45deg);
}

.animated.middle{
    width: 0;
}

.navbar{
    z-index: 998;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: var(--brown);
    transform: translateY(-100%);
    transition: 0.7s ease-in-out;
}

.show-menu{
    transform: translateY(0);
    box-shadow: 0 0 10px 100vw var(--burgundy), 0 0 10px 100vh var(--burgundy);
}

.navbar div li {
    padding-top: 3em;
    list-style: none;
    font-size: 2em;
    text-align: center;
}

.navbar-login{
    margin: 1em 0;
}

/*header*/
.title{
    font-size: 2em;
}

a{
    text-decoration: none;
    color: var(--beige);
}

a:hover{
    opacity: 50%;
}

header{
    width: 100vw;
    position: sticky;
    text-align: center;
    padding: 1em 0;
    background:rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(10px);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.212);
}

h1, h2, h3{
    color: var(--beige);
}

/* Register & login style */
.form-container{
    width: 100vw;
    text-align: center;
}

.general-form{
    margin: auto;
    max-width: 25vw;
    min-width: 300px;
    padding-top: 1em;
}

.general-form input{
    width: 100%;
    display: block;
    margin: 1em 0;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=submit]{
    background-color: var(--sand);
    color: var(--off-white);
    border: none;
    border-radius: 10px;
    transition: 0.2s ease;
}

input[type=submit]:hover{
    background-color: var(--caramel);
    border-radius: 12px;
}

/* Dynamic for styling */
.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.dynamic-input{
    display: inline;
    width: 45%;
    padding: 0.5em;
    margin: 0;
}

/* action form styling */
.action-form{
    margin-top: 1rem;
}

.action-form > input{
    padding: 0.5em;
    width: 100%;
}

/* user recipes styling */
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
}

.flex > *{
    flex: 1;
}

.card{
    position: relative;
    padding: 2em;
    min-width: 300px;
    max-width: 25vw;
    border: none;
    border-radius: 10px;
    background:rgba(92, 92, 92, 0.301);
    backdrop-filter: blur(10px);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    animation: ease-right 0.5s;
}

.card:hover{
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.13);
    scale: 1.01;
}

.card > h2{
    margin-bottom: 1em;
}

.card p{
    color: var(--off-white)
}

.ingredients{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

.ingredients > p{
    display: inline;
}

.input-hidden{
    display: none;
}

/* Alerts style */
.flash_message_container{
    padding-top: 2em;
    text-align: center;
}

.success{
    color: #53dd91;
    font-weight: 600;
}

.warning{
    color: #FFB5A7;
    font-weight: 600;
}

@keyframes ease-right {
    from {transform: translateX(-30px);}
    to {transform: translateX(0);}    
}