{% extends "layout.html" %}

{% block title %} – Bread Engine{% endblock %}

{% block main%}
    <div class="form-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="warning">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/bread_engine" method="post" id="ingredient-form">
            <input type="text" name="name" autocomplete="off" autofocus placeholder="Recipe Name" value="{{ recipe if recipe }}"/>
            <input type="text" name="description" autocomplete="off" placeholder="Recipe description" value ="{{ description if description }}">
            <button id="add-ingredient" type="button">Add ingredient</button>
            <select name="ingredient" id="ingredient">
                {% for ingredient in ingredients %}
                    <option value="{{ ingredient['id'] }}">{{ ingredient['name'] }}</option>
                {% endfor %}
            </select>
            <div id="inputs-placeholder"></div>
            <select name="ingredient" id="added-ingredient"></select>
            <button id="rmv-ingredient" type="button">Remove ingredient</button>
            <input type="submit" value="Add Recipe">
        </form>
    </div>
{% endblock %}