{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main%}
    <div class="form-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="warning">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/login" method="post">
            <input type="text" name="username" autocomplete="off" autofocus placeholder="Enter your username" value="{{ username if username }}"/>
            <input type="password" name="password" autocomplete="off" placeholder="Enter your password"/>
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}