{% extends "layout.html" %}
{% block title %}Logs{% endblock %}
{% block main %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="success">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>{{ recipe_info['recipe_name'] if recipe_info }}</h2>
    <h2>{{ recipe_info['description'] if recipe_info }}</h2>
    <h3>Logs</h3>
    <form class="general-form" action="/add_logs" method="post">
        <input type="number" min="0" step="0.1" name="temperature" placeholder="Temperature">
        <input type="number" min="0" step="0.1" name="bf_time" placeholder="Bulk fermentation time">
        <input type="number" min="0" step="0.1" name="proof_time" placeholder="Proofing time">
        <input type="text" name="comment" placeholder="Comment">
        <input type="number" class="input-hidden" name="recipe_id" value="{{ recipe_info["id"] if recipe_info }}">
        <input type="submit" value="Add log">
    </form>
    {% if recipe_logs %}
        {% for logs in recipe_logs %}
            <p>{{ logs['date'] }}</p>
            <p>{{ logs['temperature'] }}</p>
            <p>{{ logs['bf_time'] }}</p>
            <p>{{ logs['proof_time'] }}</p>
            <p>{{ logs['comment'] }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}