{% extends "layout.html" %}

{% block title %}Recipes{% endblock %}

{% block main %}
{% if "user_id" in session %}
        <div class="flash_message_container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="success">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="flex">
            {% for recipe in user_recipes %}
                <div class="card">
                    <h2>{{ recipe["recipe_name"] }}</h2>
                    <h3>{{ recipe["description"] }}</h3>
                        {% for ingredient in recipes_ingredients %}
                            {% if ingredient["recipe_id"] == recipe["id"] %}
                            <div class="ingredients">
                                <p>{{ ingredient["name"] }}:</p>
                                <p>{{ ingredient["weight"] }} gramms</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    <div class="action">
                        <form class="action-form" action="/baker_per" method="post">
                            <input type="number" class="input-hidden" name="recipe_id" value="{{ recipe["id"] }}">
                            <input type="submit" value="Get baker percentages">
                        </form>
                        <form class="action-form" action="/recipe_logs" method="post">
                            <input type="number" class="input-hidden" name="recipe_id" value="{{ recipe["id"] }}">
                            <input type="submit" value="Logs">
                        </form>
                        <form class="action-form" action="/delete" method="post">
                            <input type="number" class="input-hidden" name="recipe_id" value="{{ recipe["id"] }}">
                            <input type="submit" value="Delete recipe">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}