{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main%}
    <div class="form-container">
        <form action="recipes.html" method="post">
            <input type="text" name="username" autocomplete="off" autofocus placeholder="Enter your username"/>
            <input type="text" name="password" autocomplete="off" placeholder="Enter your password"/>
            <input type="text" name="password-confirmation" autocomplete="off" placeholder="Confirm your password"/>
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}